*{box-sizing: border-box;
 }

 body{
   padding:0;
   margin: 0;
 }

.calc{
  width:400px;
  background-color: black;
  color:white;
}

.screen{
  text-align: right;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 5px;
}

.calc-button{
  background-color:#d8d9db;
  color: black;
  height: 100px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}


 .calc-button:hover{
  background-color: #ebebeb;
}

.calc-button:active{
  background-color: #bbbcbe;
}


.calc-button:last-child{
    background-color: #CD853F;
    color: white; 
}

.calc-button:last-child:hover{
background-color: #dfb07e;
}
.calc-button:last-child:active{
  background-color: #dd8d37;
}

.double{
  width: 49.7%;
  /*width: 49%;*/
}
.triple{
  width: 74.8%;
  /*width: 73.5%;*/
}

.calc-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5%;
}


/*.row1{
  max-width:400px;
  margin: auto;
}

.screen {
font-size: 40px;
background-color: black;
text-align: right;
padding: 20px 5px;
color: white;
}

.row{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /*width: 50%;*/
  /* flex-basis: 100%; */
 /**//* background-color: black;
}


.button{
  background-color: #D3D3D3;
  /* padding: 15px 32px; */
  /* display: flex; */
  /* flex-direction: column; */
  /*flex-basis: 100%;*/
  /*/*flex-basis: 25%;*/
  /*flex: 1;*/
/*}*/
/*/*.half-button{
    /* display: flex; */
    /* flex-direction: column; */
    /*flex-basis: 100%;*/
    /*/*flex-basis: 50%;*/
    /*flex:2;*/
    /* padding: 15px 65px; */
    /* font-size: 45px; */
    
/*}*/
/*/*.theree-quarter-button{
    /* display: flex; */
    /* flex-direction: column; */
    /*/*flex-basis: 75%;
    /* flex:3; */
    /* padding: 15px 97px; */
/*}*/
/*.half{
flex-basis:200px;
}




.quarter{
    flex-basis: 100px;
}*/


/*.left-btn{
    background-color: #CD853F;
    color: white;
}*/



/*.calc-row *{
    text-align: center;
    font-size: 45px;
    border: 1px solid black;
    background-color: #D3D3D3;
    padding: 15px 0px;
}*/


